* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-family: "Comic Sans MS", serif;
}
body {
    background: url(./image/love3.jpg);
    background-size: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
}
.loading-screen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #FFFEC4;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: hide 0.25s linear forwards 1.5s;
}
.loading-bar {
    border: 1px solid black;
    width: 150px;
    height: 20px;
    border-radius: 50px;
    background: #fff;
}
.loading {
    height: 20px;
    border-radius: 50px;
    animation: loading 1.5s linear forwards;
}
@keyframes hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        pointer-events: none;
    }
}
@keyframes loading {
    0% {
        width: 0px;
        background: #fff;
    }
    100% {
        width: 150px;
        background: #FF9B9B;
    }
}
.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.glass {
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}
.container_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container_content h2 {
    color: #ffff;
    font-size: 70px;
    text-shadow: 5px 4px 7px #111111;
    margin-bottom: 32px;
}
.btn button {
    border: 2px solid black;
    color: #fff;
    padding: 5px 10px;
    border-radius: 7px;
    font-size: 22px;
    cursor: pointer;
    box-shadow: 5px 7px 4px #111111;
}
.btn #no {
    background: rgb(255, 64, 0);
    margin-left: 30px;
}
.btn #yes {
    background: rgb(0, 255, 26);
    margin-right: 30px;
}
.btn #no:hover {
    box-shadow: 0 0 30px #fff;
    animation: zoom 0.35s ease forwards;
}
.btn #yes:hover {
    box-shadow: 0 0 30px #fff;
    animation: zoom 0.35s ease forwards;
}
@keyframes zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.12);
    }
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}
.modal.show {
    opacity: 1;
    pointer-events: all;
}
.modal-container-yes{
    background: #12486B;
    overflow: hidden;
    border-radius: 15px;
    border: 1px solid #fff;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}
.modal-container-yes.show {
    opacity: 1;
    pointer-events: all;
}
.modal-container-no{
    position: absolute;
    background: #12486B;
    overflow: hidden;
    width: 343px;
    border-radius: 15px;
    border: 1px solid #fff;
    opacity: 0;
    pointer-events: none;
}
#close-2 {
    font-size: 19px;
    background: red;
    padding: 10px 19px;
    margin: 15px 0;
    border-radius: 11px;
    color: #fff;
    border: none;
    box-shadow: 10px 7px 10px #111111;
    cursor: pointer;
}
#close-2:hover {
    box-shadow: 0 0 10px #fff;
}
.modal-container-no.show {
    opacity: 1;
    pointer-events: all;
    transition: all 0.5s ease;
}
.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 26px;
    border-bottom: 1px solid #330909;
    border-radius: 15px;
}
img {
    width: 290px;
    height: 290px;
    border-radius: 15px;
}
.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    line-height: 30px;
}

.modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
p#content {
    margin-top: 15px;
}
a.close {
        background: transparent;
        /* padding: 7px 50px; */
        font-size: 53px;
        color: #fff;
}
.close {
    border: none;
    background: transparent;
    color: #fff;
    font-size: 43px;
    cursor: pointer;
    text-shadow: 10px 7px 10px #111111;
}
.close:hover {
    text-shadow: 0 0 10px #fff;
}
@media screen and (max-width: 767px){
    body {
        background-size: cover;
        background-position-x: -825px;
        object-fit: none;
    }
    .container_content h2 {
        font-size: 22px;
    }
}
 